body {
    position: relative;
    background: rgb(240, 240, 240);
    border-style: ridge;
    border-color: darkgray transparent transparent transparent;
}

h1 {
    position: relative;
    padding: 69px 10px 0px 10px;
    font-family: 'EB Garamond', serif;
    text-align: left;
    margin: 15px 10px 1px 0px;
}

.text1 {
    position: relative;
    padding: 0px 10px 10px 10px;
    font-family: 'Tinos', serif;
    font-size: 16pt;
    text-align: left;
}

.picture {
    position: relative;
    float: right;
    padding: 33px 10px 10px 10px;
    width: 300px;
    height: 300px;
}

a:link {
    position: relative;
    float: left;
    font-family: 'Domine', serif;
    font-size: 13pt;
    text-decoration: none;
    color: #767676;
}

.tlgrm {
    position: relative;
    padding: 10px 5px 0px 200px;
    width: 30px;
    height: 30px;
    margin: 0;
}